@tailwind base;
@tailwind components;
@tailwind utilities;

#__next,
body,
html {
  height: 100%;
}

.theme-pak {
  --color-title: theme("colors.white");
  --color-text: #bebebe;
  --color-nav_bg: theme("colors.black");
  --color-light: theme("colors.zinc.700");
  --color-neutral: theme("colors.zinc.800");
  --color-dark: #1a1a1a;
  --color-shadow: #f7ba2b;
  --color-destructive: #ff5555;
}

.theme-mar {
  --color-title: theme("colors.white");
  --color-text: theme("colors.rose.500");
  --color-nav_bg: theme("colors.rose.300");
  --color-light: theme("colors.rose.300");
  --color-neutral: theme("colors.rose.300");
  --color-dark: theme("colors.rose.200");
  --color-shadow: theme("colors.rose.500");
  --color-destructive: #ff5555;
}
